
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1>Hello!Assalamualaiku</h1>
</div>
<div class="row">
    
   <p>1. I used here postgresql</p>
   <p>2. Intregate Database</p>
   <p>3. Migration: Add-migration init</p>
    <p>4. Update-Database </p>
    <p>4. project ready to run </p>
    <p>Note: I scrren record for project. I worked in desktom and I don't have camera'</p>

</div>
